.inputStyle{
	height: 40px;
    border-radius: 5px;
    border-color: #ddd;
    width: 30%;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #dfd7ca;
    color: black;
}